Project1/Q3SCHEMA.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.master-works.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataset">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PurchaseOrders">
          <xs:annotation>
            <xs:documentation> Purchase-Order Data </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PurchaseOrder" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Address" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name"/>
                          <xs:element type="xs:string" name="Street"/>
                          <xs:element type="xs:string" name="City"/>
                          <xs:element type="xs:string" name="State"/>
                          <xs:element type="xs:string" name="Zip"/>
                          <xs:element type="xs:string" name="Country"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Type" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="DeliveryNotes" minOccurs="0"/>
                    <xs:element name="Items">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="Quantity"/>
                                <xs:element type="xs:string" name="Comment" minOccurs="0"/>
                                <xs:element type="xs:date" name="ShipDate" minOccurs="0"/>
                                <xs:element type="xs:string" name="Status"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="PartNumber" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="PurchaseOrderNumber" use="optional"/>
                  <xs:attribute type="xs:date" name="OrderDate" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Products">
          <xs:annotation>
            <xs:documentation> Product Data </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Product" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ProductName"/>
                    <xs:element name="Price">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute type="xs:string" name="curr" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="PartNumber" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- /*****************************************************************************
* ITC5202 – Project1
* I declare that this assignment is my own work in accordance with Humber Academic
* Policy.
* No part of this assignment has been copied manually or electronically from any other
* source (including web sites) or distributed to other students.
*
* Name: Saeeduddin Mohammed Student ID: N01547224 Date: 28/02/23
*
*
*****************************************************************************/ -->